WF/WF/Connected Services/Cliente/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exento" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteENT" nillable="true" type="tns:ClienteENT" />
  <xs:complexType name="ClienteCuentaView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BancoId" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="CuentaId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saldo" type="xs:double" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteCuentaView" nillable="true" type="tns:ClienteCuentaView" />
  <xs:complexType name="ArrayOfClienteCuentaView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteCuentaView" nillable="true" type="tns:ClienteCuentaView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteCuentaView" nillable="true" type="tns:ArrayOfClienteCuentaView" />
  <xs:complexType name="ArrayOfCuentaENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuentaENT" nillable="true" type="tns:CuentaENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuentaENT" nillable="true" type="tns:ArrayOfCuentaENT" />
  <xs:complexType name="CuentaENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="BancoId" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="CuentaId" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saldo" type="xs:double" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaENT" nillable="true" type="tns:CuentaENT" />
</xs:schema>