WF/WF/Connected Services/Cliente/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteWCF_Loguear_InputMessage">
    <wsdl:part name="parameters" element="tns:Loguear" />
  </wsdl:message>
  <wsdl:message name="IClienteWCF_Loguear_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoguearResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWCF_GetClienteCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteCuenta" />
  </wsdl:message>
  <wsdl:message name="IClienteWCF_GetClienteCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWCF_GetClienteSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteSesion" />
  </wsdl:message>
  <wsdl:message name="IClienteWCF_GetClienteSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWCF_GetCuentas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentas" />
  </wsdl:message>
  <wsdl:message name="IClienteWCF_GetCuentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteWCF">
    <wsdl:operation name="Loguear">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWCF/Loguear" message="tns:IClienteWCF_Loguear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWCF/LoguearResponse" message="tns:IClienteWCF_Loguear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWCF/GetClienteCuenta" message="tns:IClienteWCF_GetClienteCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWCF/GetClienteCuentaResponse" message="tns:IClienteWCF_GetClienteCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWCF/GetClienteSesion" message="tns:IClienteWCF_GetClienteSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWCF/GetClienteSesionResponse" message="tns:IClienteWCF_GetClienteSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWCF/GetCuentas" message="tns:IClienteWCF_GetCuentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWCF/GetCuentasResponse" message="tns:IClienteWCF_GetCuentas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteWCF" type="tns:IClienteWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Loguear">
      <soap:operation soapAction="http://tempuri.org/IClienteWCF/Loguear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteCuenta">
      <soap:operation soapAction="http://tempuri.org/IClienteWCF/GetClienteCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteSesion">
      <soap:operation soapAction="http://tempuri.org/IClienteWCF/GetClienteSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentas">
      <soap:operation soapAction="http://tempuri.org/IClienteWCF/GetCuentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteWCF">
    <wsdl:port name="BasicHttpBinding_IClienteWCF" binding="tns:BasicHttpBinding_IClienteWCF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicios/ClienteWCF/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>