WF/WF/Connected Services/Cliente/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Loguear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="clienteENT" nillable="true" type="q1:ClienteENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoguearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoguearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="clienteCuentaView" nillable="true" type="q2:ClienteCuentaView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GetClienteCuentaResult" nillable="true" type="q3:ArrayOfClienteCuentaView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="cliente" nillable="true" type="q4:ClienteENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GetClienteSesionResult" nillable="true" type="q5:ClienteENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCuentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCuentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GetCuentasResult" nillable="true" type="q6:ArrayOfCuentaENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>