WF/WF/Connected Services/Movimiento/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MovimientoENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaDestino" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CuentaOrigen" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gmf" type="xs:double" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovimientoENT" nillable="true" type="tns:MovimientoENT" />
  <xs:complexType name="MovimientoView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="CuentaDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gmf" type="xs:double" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovimientoView" nillable="true" type="tns:MovimientoView" />
  <xs:complexType name="ArrayOfMovimientoView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovimientoView" nillable="true" type="tns:MovimientoView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovimientoView" nillable="true" type="tns:ArrayOfMovimientoView" />
</xs:schema>