WF/WF/Connected Services/Movimiento/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Transferir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="movimientoENT" nillable="true" type="q1:MovimientoENT" />
        <xs:element minOccurs="0" name="exento" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="movimientoView" nillable="true" type="q2:MovimientoView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GetMovimientosResult" nillable="true" type="q3:ArrayOfMovimientoView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>